:root {
    --pico-font-family: Arial Rounded MT Bold, sans-serif;
}

html {
    background-color: beige;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: darkslategrey;
    }
}