:root {
    --pico-font-family: Arial Rounded MT Bold, sans-serif;
    --pico-border-radius: 0px;
}

html {
    background: linear-gradient(to bottom, #E2E10B 0vh, #E2E10B 60vh, #eee 60vh);
}

@media (prefers-color-scheme: dark) {
    html {
        background: linear-gradient(to bottom, #0a0082 0vh, #0a0082 60vh, #000 60vh);
        color: white;
    }
}